[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
marshmallow = ">=3"
Flask = "*"
Flask-RESTful = "*"
Flask-Migrate = "*"
Flask-SQLAlchemy = "*"
flask-marshmallow = "*"
flask-jwt-extended = "*"
marshmallow-sqlalchemy = "*"
python-dotenv = "*"
passlib = "*"
apispec-webframeworks = "*"
tox = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.apispec]
extras = [ "yaml",]

[packages.celery]
extras = [ "redis",]
version = ">=5.0.0"
